!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(property="og:title" content="My Meme")
    %meta(property="og:type" content="website")
    %meta{:property => "og:image", :content=> "#{@src}"}
    %meta(property="og:description" content="My very own meme")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Meme
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      %div.header
        %div.content
          =link_to 'Home', '/', class: 'brand'
          %button.c-hamburger.c-hamburger--htx
            %span toggle menu
    = yield
