!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(property="og:title" content="My Meme")
    %meta(property="og:type" content="website")
    %meta{:property => "og:image", :content=> "#{@src}"}
    %meta(property="og:description" content="My very own meme")
    %title Meme
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = yield
